@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Demo GitHub Copilot</a></h1>
    <img src= "@Model.octoImage" />

</div>
